{% extends 'base.html' %}

{% block title %}
    Show Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ task_object.name }}</h1>
            <p>{{ task_object.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if task_object.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_object.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.value|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
