{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create Project</a>
                </p>
                {% if list_projects %}
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <b>Name</b>
                                </td>
                                <td>
                                    <b>Number of tasks</b>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in list_projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                                    </td>
                                    <td>{{ item.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    {% endif %}
{% endblock content %}
